services:
    mysql:
        image: mysql:8.0
        container_name: mysql
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: gerfinweb
            MYSQL_USER: gerfinweb_user
            MYSQL_PASSWORD: gerfinweb_password
        ports:
            - '3306:3306'
        volumes:
            - mysql_data:/var/lib/mysql
        networks:
            - gerfinweb-network
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-u', 'root', '-proot_password']
            timeout: 20s
            retries: 10
            interval: 10s
    nestjs:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: backend
        restart: unless-stopped
        environment:
            NODE_ENV: development
            MYSQL_HOST: mysql
            MYSQL_PORT: 3306
            MYSQL_USER: gerfinweb_user
            MYSQL_PASSWORD: gerfinweb_password
            MYSQL_DATABASE: gerfinweb
            JWT_SECRET: TokenSuperSeguro@2025
            JWT_EXPIRES_IN: 7d
        ports:
            - '8080:8080'
        depends_on:
            mysql:
                condition: service_healthy
        networks:
            - gerfinweb-network
        volumes:
            - ./src:/app/src
        command: npm run start:dev

volumes:
    mysql_data:

networks:
    gerfinweb-network:
        driver: bridge
