version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: gerfinweb-backend
        ports:
            - '8080:8080'
        environment:
            - MYSQL_HOST=gerfinweb-mysql
            - MYSQL_PORT=3306
            - MYSQL_USER=root
            - MYSQL_PASSWORD=123456
            - MYSQL_DATABASE=gerfinweb
            - NODE_ENV=development
        depends_on:
            - gerfinweb-mysql
        networks:
            - local

    gerfinweb-mysql:
        image: mysql:8.0
        container_name: gerfinweb-mysql
        restart: always
        ports:
            - '3306:3306'
        environment:
            - MYSQL_ROOT_PASSWORD=123456
            - MYSQL_DATABASE=gerfinweb
            - MYSQL_USER=gerfinweb_user
            - MYSQL_PASSWORD=gerfinweb_pass
        volumes:
            - ./mysql-init:/docker-entrypoint-initdb.d
            - mysql_data:/var/lib/mysql
        networks:
            - local
        command: --default-authentication-plugin=mysql_native_password

networks:
    local:
        driver: bridge

volumes:
    mysql_data:
        driver: local
